<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <!--<h1>{{title}}</h1>
        <h1>{{age}}</h1>-->
        <!--<input v-on:click="changeTitle"/>-->
        <!--<button v-on:click="changeTitle">Change title</button>-->
        <input :value="title" @input="changeTitle" />
        <!--<input v-model="title" />-->
        <img :src="imageURL" alt="" style="height: 100px;">
        <a :href="siteURL">Click here</a>
        {{title}}
        {{isValid}}
        {{reverseName}}
        <p v-if="isValid">aaaaaa</p>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                title: 'Hello fr',
                age: -3,
                imageURL: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.freebiesupply.com%2Flogos%2Flarge%2F2x%2Fvue-9-logo-png-transparent.png&f=1&nofb=1&ipt=55e4463d4d4dc13574f2f917e34bc671f97b633539fbad43fb57cb11db92aeff&ipo=images',
                siteURL: 'https://www.softuni.bg',
                isValid: false,
                firstName: 'Borky'
            },
            methods: {
                changeTitle(e) {
                    const newValue = e.target.value;
                    //const newValue = 'New title;'
                    this.title = newValue;
                }
            },
            computed: {
                isValid() {
                    this.firstName = "Somet else"
                    return this.isValid ? "Valid" : "Invalid"
                },
                reverseName() {
                    return this.firstName.split('').reverse().join("");
                }
            }
        })
    </script>
</body>